NODE_ENV=test
WS_URL_1=ws://websocket_1:8080
WS_URL_2=ws://websocket_2:8081
DB_HOST=db_test
DB_PORT=5432
DB_NAME=chat_db_test
DB_USER=user
DB_PASSWORD=sua_senha_aqui
REDIS_HOST=redis_test
REDIS_PORT=6379
JWT_SECRET=sua_chave_jwt_aqui
